body, html {
    height: 100%;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.sidebar {
    background-color: #052F5F;
    padding-left: 15px;
    color: white;
}

    .sidebar img {
        padding: 5px 5px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 50%;
        background-color: #005377;
    }

    .sidebar a, .sidebar a:visited {
        color: white;
        text-decoration: none;
    }

.content {
    padding: 15px;
}

@media (min-width: 1000px) {

    .sidebar {
        height: 100%;
        display: inline-block;
        width: 190px;
        vertical-align: top;
        min-height: 100%;
        padding-right: 15px;
    }

        .sidebar img.screen-large {
            margin-left: auto;
            display: block;
            margin-right: auto;
        }

    .content {
        width: 700px;
        display: inline-block;
    }

    .site-description {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    nav {
        margin-top: 15px;
    }

    .menu a {
        padding: 0 5px 5px 5px;
        display: block;
    }

    .screen-small {
        display: none;
    }
}

@media (max-width: 1000px) {

    .sidebar {
        display: block;
        width: 100%;
    }

    .content {
        display: block;
    }

    .title-container {
        vertical-align: top;
        display: inline-block;
        padding-left: 15px;
        width: 70%;
    }

    .site-title {
        margin-bottom: 0;
    }

    .site-description {
        margin-top: 0;
    }

    .social {
        float: right;
        padding-right: 15px;
    }

    .menu {
        vertical-align: middle;
    }

        .menu a {
            display: inline-block;
            padding: 0 5px;
        }

    .nav-container {
        height: 38px;
        line-height: 38px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .screen-large {
        display: none;
    }
}

footer {
    font-size: x-small;
    width: 100%;
    margin-top: 50px;
}

    footer p {
        text-align: center;
    }

nav.posts {
    text-align: center;
}

    nav.posts .prev {
        float: left;
    }

    nav.posts .next {
        float: right;
    }

.menu a:hover {
    color: #819595;
}

.site-description {
    color: #819595;
}

.social a {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}

.github {
    background: url('/images/GitHub-Mark-32px.png') center no-repeat #819595;
}

.rss {
    background: url('/images/rss.png') center no-repeat #ef7522;
}

.meta {
    display: none;
}
