body,
html {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

figure {
    margin: 1em 0;
    text-align: center;
}

figure figcaption {
    text-align: center;
}

.sidebar {
    background-color: #052F5F;
    padding-left: 15px;
    color: white;
}

.sidebar img {
    padding: 5px 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
    background-color: #005377;
}

.sidebar a,
.sidebar a:visited {
    color: white;
    text-decoration: none;
}

.content {
    padding: 15px;
}

@media screen and (min-width: 1000px) {
    .sidebar {
        height: 100%;
        width: 190px;
        min-height: 100%;
        padding-right: 15px;
        position: fixed;
    }
    .sidebar img.screen-large {
        margin-left: auto;
        display: block;
        margin-right: auto;
    }
    .content {
        width: 750px;
        position: absolute;
        left: 220px;
    }
    .site-description {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    nav {
        margin-top: 15px;
    }
    .menu a {
        padding: 0 5px 5px 5px;
        display: block;
    }
    .screen-small {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .sidebar {
        width: 100%;
        height: 180px;
    }
    .content {
        position: absolute;
        top: 195px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow-y: scroll;
    }
    .title-container {
        vertical-align: top;
        display: inline-block;
        padding-left: 15px;
        width: 60%;
    }
    .site-title {
        margin-bottom: 0;
    }
    .site-description {
        margin-top: 0;
    }
    .social {
        float: right;
        padding-right: 15px;
    }
    .social a {
        margin-right: 5px;
    }
    .menu {
        vertical-align: middle;
    }
    .menu a {
        display: inline-block;
        padding: 0 5px;
    }
    .nav-container {
        height: 38px;
        line-height: 38px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .screen-large {
        display: none;
    }
}

footer {
    font-size: x-small;
    width: 100%;
    margin-top: 50px;
}

footer p {
    text-align: center;
}

nav.posts {
    text-align: center;
    overflow: hidden;
    border-bottom: solid 1px #819595;
    padding-bottom: 15px;
}

nav.posts .prev {
    float: left;
    max-width: 40%;
}

nav.posts .next {
    float: right;
    max-width: 40%;
}

.menu a:hover {
    color: #819595;
}

.site-description {
    color: #819595;
}

.title a,
.title a:visited {
    color: black;
    text-decoration: none;
}

.title a:hover {
    color: #819595;
}

.social {
    display: flex;
    justify-content: space-between;
}

.social a {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    display: block;
}

.github {
    background: url('/images/GitHub-Mark-32px.png') center no-repeat #819595;
}

.twitter {
    background: url('/images/Twitter.png') center no-repeat #55acee;
    background-size: 32px;
}

.rss {
    background: url('/images/rss.png') center no-repeat #ef7522;
}

.feedly {
    background: url('https://s3.feedly.com/img/follows/feedly-follow-circle-flat-green_2x.png') center center no-repeat #87C040;
    background-size: 28px 28px;
}

.meta {
    color: #819595;
}

.meta span,
.meta a,
.meta time {
    margin-right: 5px;
}

.meta a,
.meta a:visited {
    text-decoration: none;
    color: #819595;
}

.btn {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #052F5F;
    color: white;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
}

@media print {
    .no-print {
        display: none;
    }
    .content {
        padding: 0;
    }
}

.resume-body {
    display: flex;
    flex-direction: row;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 14px;
}

.resume-body p,
.resume-body ul {
    margin-top: 8px;
    margin-bottom: 8px;
}

.resume-left {
    background-color: #052F5F;
    padding: 15px;
    color: white;
}

.resume-left img {
    margin: 0 auto;
    display: block;
    padding: 5px 5px;
    border-radius: 50%;
    background-color: #005377;
}

.resume-left h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

.resume-left h1:after {
    content: '';
    position: absolute;
    margin-left: 5px;
    top: 60%;
    transform: translateY(-60%);
    border-bottom: 1px solid;
    border-top: 1px solid;
    width: 500px;
}

.resume-right {
    padding: 0 15px;
}

.resume-right h1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

.resume-right h1:after {
    border-color: white;
    content: '';
    position: absolute;
    margin-left: 5px;
    top: 60%;
    transform: translateY(-60%);
    border-bottom: 1px solid;
    border-top: 1px solid;
    width: 700px;
    border-color: black;
}

.resume-right h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.resume-right h3 {
    font-size: 16px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
}

.resume-right section {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.resume-right section div:last-child {
    flex: 1 1 auto;
    text-align: right;
}

.resume-name {
    font-size: 50px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.resume-title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    white-space: nowrap;
}

.resume-social {
    white-space: nowrap;
}

.resume-social .fa-fw {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}