<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div class="sidebar no-print">
        <img src="{{ site.gravatar_url }}?s=160" alt="Gravatar" class="screen-large" />
        <img src="{{ site.gravatar_url }}?s=80" alt="Gravatar" class="screen-small" />
        <div class="title-container">
            <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
            <h5 class="site-description">{{ site.description }}</h5>
        </div>
        <div class="nav-container">
            <nav class="social">
                <a class="github" href="https://github.com/TheOtherTimDuncan" title="GitHub"><span class="fab fa-github"></span></a>
                <a class="twitter" href="https://twitter.com/TheOtherTDuncan" title="Twitter"><span class="fab fa-twitter fa-lg"></span></a>
                <a class="rss" href="{{ "/atom.xml" | prepend: site.baseurl }}" title="RSS"><span class="fas fa-rss fa-lg"></span></a>
                <a class="devto" href="https://dev.to/theothertimduncan" title="DEV.TO"><div class="fab fa-dev fa-lg"></div></a>
            </nav>
            <nav class="menu">
                <a href="/archive">Archives</a>
                <a href="/recommended">Recommended</a>
                <a href="/resume">Resume</a>
                <a href="https://github.com/TheOtherTimDuncan/TheOtherTimDuncan/issues/new">Contact Me</a>
            </nav>
        </div>
    </div>
    <div class="content">
        {{ content }}
        {% include footer.html %}
    </div>
</body>
</html>
